USE [JQuery]
GO
/****** Object:  Table [dbo].[reg]    Script Date: 3/13/2019 4:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reg](
	[usernames] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[cpass] [varchar](50) NULL,
	[emailid] [varchar](50) NULL,
	[mobileno] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
